.btn-status{
    margin: 10px 0;
}


@media screen and (max-width: 615px) {
    div.btn-group{
       display: block;
       text-align: center;
    }
    .btn-status{
        padding: 6px 35px;
    }
}

@media screen and (max-width: 519px) {
    div.btn-group{
       display: block;
       text-align: center;
    }
    .btn-status{
        padding: 6px 10px;
    }
}