.app-header {
    text-align: center;
}

.app-header h1 {
    flex-grow: 1;
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 1px white;
    margin:30px 0 20px 0;
}

.app-header h2 {
    font-size: 1.2rem;
    color: rgb(65, 77, 15);
    text-align: right;
}